@import 'reset';

$background:#F6F3F7;
$grey:#0A70B8;
$green:#BCC679;


html{
	background-color:white;
}

h1{
 	font-family: "futura-pt", sans-serif;
	color: black;
	font-size:2em;
	line-height:1.25;
	padding-bottom:3%;

}

h2{
	font-family: "futura-pt",sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size:1.5em;
	line-height:1.25;
	padding-bottom:8%;
	color:$grey;
}

h4{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size:1.25em;
	line-height:1.25;
	padding-bottom:2%;
	color:black;
}

p{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height:1.15;
	font-size:1.1em;
	padding-bottom:10%;
}


a{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height:1.45;
	font-size:1.15em;
	text-decoration:none;
	color:black;
}

a:hover{
	color:$grey;
}

img{
	width:100%;
	height:100%;
	padding-bottom:6%;
}

.logo{
	width:150px;
	margin-top:5%;
	margin-left:5%;
}

.search{
		position:fixed;
		margin-left:80%;
		top:2.5%;
		width:10%;
		height:5%;

	}


.slogan{
		color:$grey;
		margin-top:0;
		margin-left:10%;
		padding-bottom:10%;
		line-height:0.2;
}


.banner::after {
content: "";
clear: both;
display: block;
}

.banner div{

	a{
		line-height: 1;
		margin-left:10%;
		padding:2%;
		color:black;

	}

	p{
		line-height: 1;
		padding:0;
		margin-left:10%;
	}
}

	.login, .needhelp, .cart, .wishlist, .ikeafamily, .email{
		float:none;
		width:20%;
		margin-top:2.5%;
		margin-left:15%;


		a{
			position:absolute;
			margin-top: 5%;
			margin-left:12%;
		}

		a:hover{
			color:$grey;
			}		

	}


	li{
		list-style: none;
	}

.email{
	padding-bottom:5%;
}


nav li{
	float:none;
	list-style-type: none;
}

.button {
   border-top: 0px;
   border-bottom: 0px;
   background: $background;
   background: -webkit-gradient(linear, left top, left bottom, from($background), to(#bcc679));
   background: -webkit-linear-gradient(top, $background, #bcc679);
   background: -moz-linear-gradient(top, $background, #bcc679);
   background: -ms-linear-gradient(top, $background, #bcc679);
   background: -o-linear-gradient(top, $background, #bcc679);
   padding: 9.5px 19px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #000000;
   		
   		a{
	   		font-family: "futura-pt",sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
	   		text-decoration: none;
	   		vertical-align: middle;
   		}


   }
.button:hover {
   border-top-color: $grey;
   background: $grey;
   color: $background;

    a, a:hover{
	color:white;
   }
  }

.button:active {
   border-top-color: $grey;
   background: $grey;
   }

 .dropdown{
   float:right;
   border-top: 0px;
   border-bottom: 0px;
   background: $background;
   background: -webkit-gradient(linear, left top, left bottom, from($background), to(#bcc679));
   background: -webkit-linear-gradient(top, $background, #bcc679);
   background: -moz-linear-gradient(top, $background, #bcc679);
   background: -ms-linear-gradient(top, $background, #bcc679);
   background: -o-linear-gradient(top, $background, #bcc679);
   padding: 9.5px 19px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #000000;
   		font-family: "futura-pt",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
   text-decoration: none;
   vertical-align: middle;

   	img{
   		padding:0%;
   		width:25%;
   	}

   	a{
   		padding:10%;
   	}
   }
.button:hover {
   border-top-color: $grey;
   background: $grey;
   color: $background;
   }
.button:active {
   border-top-color: $grey;
   background: $grey;
   }
   

.recall{
	float:none;
	padding-top:12%;
	padding-bottom:5%;
	padding-left:5%;
	padding-right:5%;
	   color: #000000;
   		font-family:sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
}

.top{
background-color:$green;


	img{
		width:100%;
	}
	
	h1{
		padding-top:10%;
		padding-left:12%;
		padding-right:12%;
		line-height:1.5;
	}

	h2{
		padding-left:12%;
		padding-right:12%;
		line-height:1.25;
	}

	p{
		padding-left:12%;
		padding-right:12%;
		line-height:1.5;
	}

	h4{
		padding-left:12%;
		padding-right:12%;
		line-height:1.25;

	a
		{font-family: "futura-pt",sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size:1em;
		line-height:1.25;
		padding-bottom:2%;
		color:black;
		}

		a:hover{
		color:$grey;
	}
}

}

.catalog{
	background-color:$green;
	padding-top:0;
	padding-left:12%;
	padding-bottom:10%;
}

.inspiration{
	background-color:$background;
	padding-top:15%;
	padding-bottom:15%;
	padding-left:12%;
	padding-right:12%;
}

.PS2014{
	background-color:$green;
	padding-top:15%;
	padding-bottom:15%;
	padding-left:12%;
	padding-right:12%;
}

.nowatikea{
	background-color:$background;
	padding-top:15%;
	padding-bottom:15%;
	padding-left:12%;
	padding-right:12%;
		p{
			font-family: "futura-pt",sans-serif;
			font-style: normal;
			font-weight: 400;
			line-height: 1.5;
		}
}

.featured{
	background-color:$green;
	padding-top:15%;
	padding-bottom:15%;
	padding-left:12%;
	padding-right:12%;

	p{
			font-family: "futura-pt",sans-serif;
			font-style: normal;
			font-weight: 400;
			line-height: 1.5;
		}
}

.ideas{
	background-color:$background;
	padding-top:15%;
	padding-bottom:15%;
	padding-left:12%;
	padding-right:12%;
}

.reccomendation{
	background-color:$green;
	padding-top:15%;
	padding-bottom:10%;
	padding-left:12%;
	padding-right:12%;

	a{
   		padding-bottom:15%;
   	}

   	img{
	padding-top:10%;
}
}

//**Footer**//

.bottomnav{
	padding-top:8%;
	padding-bottom:8%;
	padding-left:8%;
	padding-right:15%;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height:1.5;
	font-size:1em;

	h3{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height:1.5;
	font-size:1.5em;
	}

	p{
		padding-right:10%;
		padding-top:4%;
		padding-bottom:4%;
	}

	a{
		color:black;
	}

	a:hover{
		color:$grey;
	}
}

div .CandB, .NH, .IS, .TisI, .WatI {
	background:$green;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:10%;
	padding-right:15%;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height:1.2;
	font-size:1em;

	h4{
		color:black;
		font-family: "futura-pt",sans-serif;
		font-style: normal;
		font-weight: 600;
		line-height:1.2;
		font-size:1em;
		text-decoration: none;
			}

		h4:hover{
		color:$grey;
			}

	ul{
		display:none;
	}

	li{
		padding-right:10%;
	}

		a{
		color:black;
		text-decoration: none;
			}

		a:hover{
		color:$grey;
			}

		}

	.bottom{
		padding:10%;
	}


