$teal:#59B0B4;
$grey:#777777;
$white:#F5F3F7;
$green:#BCC679;


html{
	background-color:$white;
}

h1{
 	font-family: "futura-pt", sans-serif;
	color: $grey;
}

h2{
font-family: "futura-pt",sans-serif;
font-style: italic;
font-weight: 500;
}

p{
font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 400;
}
.banner::after {
content: "";
clear: both;
display: block;
}

.banner div{
	background-color:$teal;
	padding:0.8%;

	a{
		padding:2%;
	}

	&.logo, &.needhelp{
		float:left;
	}

	&.logincartlist, &.ikeafamily{
		float:right;
	}
}


nav li{
	float:left;
	list-style-type: none;
	padding:1%;
}

.top{
background-color:$green;
padding:10%;
}