/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  background-color: #F6F3F7; }

img {
  max-width: 100%;
  padding-bottom: 30px; }

h1 {
  font-family: "futura-pt", sans-serif;
  color: black;
  font-size: 2em;
  line-height: 1.25;
  padding-bottom: 3%; }

h2 {
  font-family: "futura-pt",sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.25;
  padding-bottom: 8%;
  color: #0A70B8; }

h4 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.25;
  padding-bottom: 2%;
  color: black; }

p {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  font-size: 1.1em;
  padding-bottom: 10%; }

a {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  font-size: 1.15em;
  text-decoration: none;
  color: black; }

a:hover {
  color: #0A70B8; }

.search {
  float: right;
  margin-right: 20px; }
  .search .magglass {
    margin-top: 20px;
    max-width: 18px;
    float: right;
    display: inline-block; }
  .search input {
    float: right;
    margin-top: 20px; }

.banner::after {
  content: "";
  clear: both;
  display: block; }

.banner a {
  line-height: 1;
  padding: 2%;
  color: black; }
.banner .logo {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  display: inline-block; }
  .banner .logo img {
    max-width: 80%; }
.banner .slogan {
  color: #0A70B8;
  margin-bottom: 10px;
  padding-top: 10px;
  line-height: 0.2; }

.outer::after {
  content: "";
  clear: both;
  display: block; }

.outer {
  width: 90%;
  padding: 0 5% 0 5%;
  background-color: #F6F3F7; }
  .outer div.icons {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }
    .outer div.icons img {
      float: left;
      width: 45%;
      padding-right: 10px; }
    .outer div.icons a {
      float: left;
      margin-left: 2.5%; }
    .outer div.icons p {
      margin-left: 5%;
      font-size: 0.75em; }

nav {
  background: #F6F3F7;
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F3F7), to(#bcc679));
  background: -webkit-linear-gradient(top, #F6F3F7, #bcc679);
  background: -moz-linear-gradient(top, #F6F3F7, #bcc679);
  background: -ms-linear-gradient(top, #F6F3F7, #bcc679);
  background: -o-linear-gradient(top, #F6F3F7, #bcc679);
  overflow: hidden; }

nav li {
  float: none;
  list-style-type: none; }

.button {
  border-top: 0px;
  border-bottom: 0px;
  background: #F6F3F7;
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F3F7), to(#bcc679));
  background: -webkit-linear-gradient(top, #F6F3F7, #bcc679);
  background: -moz-linear-gradient(top, #F6F3F7, #bcc679);
  background: -ms-linear-gradient(top, #F6F3F7, #bcc679);
  background: -o-linear-gradient(top, #F6F3F7, #bcc679);
  padding: 10px 2.5%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #000000; }
  .button a {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle; }

.button:hover {
  border-top-color: #0A70B8;
  background: #0A70B8;
  color: #F6F3F7; }
  .button:hover a, .button:hover a:hover {
    color: white; }

.button:active {
  border-top-color: #0A70B8;
  background: #0A70B8; }

.button:hover {
  border-top-color: #0A70B8;
  background: #0A70B8;
  color: #F6F3F7; }

.button:active {
  border-top-color: #0A70B8;
  background: #0A70B8; }

.recall {
  float: none;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25%;
  padding-right: 25%;
  color: #000000;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px; }

.top {
  background-color: #BCC679; }
  .top img {
    max-width: 100%; }
  .top h1 {
    padding-top: 10%;
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.5; }
  .top h2 {
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.25; }
  .top p {
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.5; }
  .top h4 {
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.25; }
    .top h4 a {
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.25;
      padding-bottom: 2%;
      color: black; }
    .top h4 a:hover {
      color: #0A70B8; }
  .top .cardgif {
    margin-left: 20px; }

.catalog {
  background-color: #BCC679;
  padding-top: 0;
  padding-left: 12%;
  padding-bottom: 10%; }

.inspiration {
  background-color: #F6F3F7;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 12%; }

.PS2014 {
  background-color: #BCC679;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 12%; }

.nowatikea {
  background-color: #F6F3F7;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 12%; }
  .nowatikea p {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; }

.featured {
  background-color: #BCC679;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 12%; }
  .featured p {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; }

.ideas {
  background-color: #F6F3F7;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 12%; }

.reccomendation {
  background-color: #BCC679;
  padding-top: 15%;
  padding-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%; }
  .reccomendation a {
    padding-bottom: 15%; }
  .reccomendation img {
    padding-top: 10%; }

.thestorytop {
  background-color: #BCC679; }
  .thestorytop img {
    max-width: 100%; }
  .thestorytop h1 {
    padding-top: 10%;
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.5; }
  .thestorytop h2 {
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.25; }
  .thestorytop p {
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.5; }
  .thestorytop h4 {
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.25; }
    .thestorytop h4 a {
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.25;
      padding-bottom: 2%;
      color: black; }
    .thestorytop h4 a:hover {
      color: #0A70B8; }

.thestorymiddle {
  clear: both;
  overflow: hidden;
  background-color: #F6F3F7; }
  .thestorymiddle img {
    max-width: 50%;
    float: left; }
  .thestorymiddle h1 {
    padding-top: 10%;
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.5; }
  .thestorymiddle h2 {
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.25; }
  .thestorymiddle .future-text {
    line-height: 1.5;
    float: left;
    width: 38%; }
  .thestorymiddle h4 {
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.25; }
    .thestorymiddle h4 a {
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.25;
      padding-bottom: 2%;
      color: black; }
    .thestorymiddle h4 a:hover {
      color: #0A70B8; }

.bottomnav {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 15%;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1em; }
  .bottomnav h3 {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.5em; }
  .bottomnav p {
    padding-right: 10%;
    padding-top: 8px;
    padding-bottom: 8px; }
  .bottomnav a {
    color: black; }
  .bottomnav a:hover {
    color: #0A70B8; }

div .CandB, .NH, .IS, .TisI, .WatI {
  background: #BCC679;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 15%;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1em; }
  div .CandB h4, .NH h4, .IS h4, .TisI h4, .WatI h4 {
    color: black;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    font-size: 1em;
    text-decoration: none; }
    div .CandB h4:hover, .NH h4:hover, .IS h4:hover, .TisI h4:hover, .WatI h4:hover {
      color: #0A70B8; }
  div .CandB ul, .NH ul, .IS ul, .TisI ul, .WatI ul {
    display: none; }
  div .CandB li, .NH li, .IS li, .TisI li, .WatI li {
    padding-right: 10%; }
  div .CandB a, .NH a, .IS a, .TisI a, .WatI a {
    color: black;
    text-decoration: none; }
    div .CandB a:hover, .NH a:hover, .IS a:hover, .TisI a:hover, .WatI a:hover {
      color: #0A70B8; }

.bottom {
  padding: 10%; }

@media screen and (min-width: 37em) {
  .button {
    width: 28.33%;
    float: left; }

  .cardgif {
    margin-left: 80px; }

  .bottomnav {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8%;
    padding-right: 15%;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 1em; }
    .bottomnav h3 {
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 1;
      font-size: 1.5em; }
    .bottomnav p {
      padding-right: 10%;
      padding-top: 2px;
      padding-bottom: 15px; }
    .bottomnav a {
      text-decoration: none;
      color: black; }
    .bottomnav a:hover {
      color: #0A70B8; }

  div .CandB, .NH, .IS, .TisI, .WatI {
    width: 90%;
    background: #BCC679;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.5em;
    text-decoration: none; }
    div .CandB h4, .NH h4, .IS h4, .TisI h4, .WatI h4 {
      color: black;
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
      font-size: 1em;
      padding-top: 10px; }
      div .CandB h4:hover, .NH h4:hover, .IS h4:hover, .TisI h4:hover, .WatI h4:hover {
        color: #0A70B8; }
    div .CandB ul, .NH ul, .IS ul, .TisI ul, .WatI ul {
      display: inline-block;
      width: 100%; }
    div .CandB li, .NH li, .IS li, .TisI li, .WatI li {
      list-style-type: none;
      float: left;
      padding-right: 10px; }
    div .CandB a, .NH a, .IS a, .TisI a, .WatI a {
      padding-bottom: 10px;
      text-decoration: none;
      color: black; }
      div .CandB a:hover, .NH a:hover, .IS a:hover, .TisI a:hover, .WatI a:hover {
        color: #0A70B8; } }
@media screen and (min-width: 37em) and (min-width: 60em) {
  .slogan {
    margin-top: 100px;
    margin-left: 0px;
    padding: 0; }

  .recall {
    margin-top: 50px;
    margin-left: 40px;
    padding: 0; }

  .button {
    width: 15%; }

  div .CandB, .NH, .IS, .TisI, .WatI {
    display: inline-block; } }
@media screen and (min-width: 37em) {
  .top .cardgif {
    margin-left: 50px;
    padding-right: 30px;
    float: left; }

  .thestorytop h1, .thestorymiddle h1 {
    padding-top: 2%;
    padding-left: 12%;
    padding-bottom: 0;
    font-size: 2.5em; }
  .thestorytop h2, .thestorymiddle h2 {
    padding-top: 2%;
    padding-bottom: 2%; }
  .thestorytop img, .thestorymiddle img {
    margin-left: 12%; }
  .thestorytop p, .thestorymiddle p {
    margin-top: 0;
    padding-bottom: 2%; }

  .bottomnav {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8%;
    padding-right: 15%;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1em; }
    .bottomnav h3 {
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
      font-size: 1.5em; }
    .bottomnav p {
      padding-right: 10%;
      padding-top: 8px;
      padding-bottom: 8px; }
    .bottomnav a {
      color: black; }
    .bottomnav a:hover {
      color: #0A70B8; }

  .CandB ul, .NH ul, .IS ul, .TisI ul, .WatI ul {
    text-decoration: none;
    float: left;
    display: inline-block; }
  .CandB li, .NH li, .IS li, .TisI li, .WatI li {
    padding-right: 30px; }
  .CandB a, .NH a, .IS a, .TisI a, .WatI a {
    padding-top: 2px;
    padding-bottom: 5px;
    color: black; }
    .CandB a:hover, .NH a:hover, .IS a:hover, .TisI a:hover, .WatI a:hover {
      color: #0A70B8; }

  .thestorymiddle {
    background-color: #F6F3F7; } }

/*# sourceMappingURL=style.css.map */
